.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    padding: 2rem 6rem;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack links vertically */
        padding: 1rem;         /* Reduce padding */
        align-items: flex-start; /* Align items to the start */
    }

    .navbar a {
        margin: 0.5rem 0;      /* Space links vertically */
        font-size: 16px;       /* Slightly reduce font size */
    }
}
