.introduction-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */

    display: flex;

    padding: 2rem 4rem;
  }
    
  .introduction-text {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 25px;
    margin: 2 5rem;
    cursor: pointer;
  }
